* {
  margin: 0;
  padding: 0;
  color: #595959;
  font-family: "游ゴシック体", "YuGothic", "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
}

html {
  scroll-behavior: smooth;
}

header {
  background-color: rgba(255, 255, 255, 0.7);
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  align-items: center;
  padding: 10px;
  position: absolute;
  height: 80px;
  width: 100%;
}

@media screen and (max-width:780px) {
  p {
    font-size: 14px;
  }
}

p {
  margin-bottom: 1em;
}

.br-smp {
  display: inline-block;
}

h1 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 50px;
  line-height: 1.6em;
  text-shadow: 2px 2px 3px #c0c0c0;
}

h2 , h3 {
  font-size: 20px;
}

.top-page {
  position: relative;
}

.logo {
  height: 120px;
  vertical-align: middle;
}

.header-navi {
  display: flex;
}

.header-navi > li {
  list-style-type: none;
  margin-right: 30px;
  font-size: 16px;
}

.header-navi > li > a {
  text-decoration: none;
}

.btn a {
  background-color: #595959;
  color: #fff;
  border-radius: 14px;
  padding: 7px 10px;
}

@media screen and (max-width:780px) {
  header {
    height: 46px;
  }
  
  .logo {
    height: 100px;
    margin-left: -30px;
  }

  .header-navi {
    display: none;
  }
}

.main-visual img {
  height: auto;
  width: 100%;
}

.main-catch {
  padding: 60px;
  background-color: rgba(255, 255, 255, 0.7);
  position: absolute;
  bottom: 7%;
  left: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.main-catch h2 {
  font-size: 22px;
}

@media screen and (max-width:780px) {
  .main-visual img {
    min-width: 100%;
  }

  .main-catch {
    padding: 16px 10px;
    width: 100%;
    left: 0%;
    bottom: 7%;
  }

  h1 {
    font-size: 20px;
    margin-bottom: 10px;
    line-height: 1.4em;
  }

  .main-catch h2 {
    font-size: 14px;
  }
}

.contents h2 {
  text-align: center;
  padding: 50px 20px;
}

@media screen and (max-width:780px) {
  .contents h2 {
    font-size: 16px;
  }
}

.contents-box {
  background-color:whitesmoke;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.box-img > img {
  max-width: 100%;
  height: auto;
}

.box-img , .box-text {
  height: auto;
  width: 50%;
}

.box-img {
  position: relative;
}

.box-text {
  line-height: 1.6em;
  font-size: 16px;
  padding: 0 16px;
  margin: auto;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text-center {
  text-align: left;
  margin: 5%;
  padding-top: 1em;
}

.box-title {
  margin: 0;
  display: block;
  width: 100%;
  height: 30%;
  position: absolute;
  bottom: 0px;
  background-color: rgba(0, 0, 0, 0.7);
}

.box-title h3 {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 20px;
}

@media screen and (max-width:780px) {
  .contents-box {
    flex-direction: column;
    width: 100%;
  }

  .reverse {
    flex-direction: column-reverse;
  }

  .box-img , .box-text {
    height: auto;
    width: 100%;
  }

  .text-center br {
    display: none;
  }

  .box-title h3 {
    font-size: 16px;
  }
}

.detail {
  text-align: center;
  width: 80%;
  font-size: 20px;
  margin: auto;
}

@media screen and (max-width:780px) {
  .detail {
    width: 85%;
  }
  
  .detail p {
    font-size: 14px;
  }
}

.contents-detail h3 {
  font-size: 20px;
  padding: 20px;
  border-radius: 10px;
  background-color: #FAECED;
  margin-top: 80px;
  margin-bottom: 30px;
}

@media screen and (max-width:780px) {
  .contents-detail h3 {
    font-size: 16px;
  }

  /* .contents-detail br {
    display: none;
  } */
}

.arrow {
  padding-bottom: 20px;
}

.programming h4,
.english h4 {
  margin-bottom: 10px;
}

@media screen and (max-width:780px) {
  .programming h4,
  .english h4 {
    font-size: 16px;
  }
}

.programming-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items:center;
  margin-bottom: 20px;
}

.programming-list > li {
  list-style-type: none;
}

.programming img {
  height: 180px;
}

@media screen and (max-width:780px) {
  .programming-list {
    width: auto;
  }
  .programming img {
    height: 90px;
  }
}

.english img {
  width: 420px;
  padding-top: 10px;
}

@media screen and (max-width:780px) {
  .english img {
    width: 60%;
  }
}

.graduates {
  display: flex;
  margin-top: 40px;
}

.graduates-detail {
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  align-items: center;
  margin: 0 40px;
  width: 50%;
}

.left img {
  height: 100px;
  margin-right: 20px;
}

.right {
  text-align: left;
}

.graduates-title {
  font-weight: bold;
}

@media screen and (max-width:780px) {
  .graduates {
    margin: 0 auto;
    flex-direction: column;
  }

  .graduates-detail {
    margin: 10px auto;
    width: 100%;
    flex-direction: column;
  }

  .right {
    text-align: center;
  }
}

.schedule ,
.price {
  text-align: center;
  width: 80%;
  margin: auto;
}

.schedule h3 ,
.price h3 {
  width: 50%;
  font-size: 20px;
  padding: 20px;
  margin: 80px auto 30px auto;
  border-bottom: solid 15px #573F2E;
}

@media screen and (max-width:780px) {
  .schedule h3 ,
  .price h3 {
  width: 80%;
  font-size: 16px;
  } 
}

.schedule img {
  width: 80%;
  margin: 0 auto;
}

@media screen and (max-width:780px) {
  .schedule img {
    width: 100%;
    margin: 0 auto;
  }
}

/* table */

.p-scroll {
  overflow-x: scroll;
}

.c-price {
  margin: auto;
  margin-bottom: 20px;
  min-width: 600px;
  width: 80%;
  text-align: center;
  color: #595959;
  border-collapse: collapse;
}

@media screen and (max-width:780px) {
  .c-price {
    font-size: 14px;
  }
}

.c-price p {
  margin-bottom: 0;
}

.c-price__point {
  margin-bottom: 20px;
  margin-right: 100px;
  text-align: right;
  min-width: 600px;
}

.c-price__point__inner {
  background-color:#FAECED;
  border-radius: 15px;
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  margin-right: 85px;
  padding: 5px 18px;
  position: relative;
}

.c-price__point__inner::before {
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #FAECED;
  bottom: -5px;
  content: '';
  left: 50%;
  position: absolute;
}

@media screen and (max-width:780px) {
  .c-price__point__inner ,
  .c-price__point {
    margin-right: 20px;
  }
}

.c-price th,
.c-price td {
  line-height: 1.4;
  padding: 8px 10px;
  vertical-align: middle;
}

.c-price del {
  font-size: 14px;
  position: relative;
  text-decoration: none;
}

.c-price del::before {
  border-top: 1px solid #cd6f67;
  content: '';
  margin-left: -5%;
  position: absolute;
  top: 0.5em;
  width: 110%;
}

.c-price strong {
  display: block;
  text-shadow: 0.2px 0.2px 0 #595959;
}

.c-price thead {
  position: relative;
}

.c-price thead th {
  background: #CCC;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
  font-weight: 800;
  text-shadow: 0.2px 0.2px 0 #595959;
}

.c-price thead th.last {
  position: relative;
}

.c-price thead th.last::after {
  background: #b46963;
  content: '';
  height: calc(100% + 2px);
  position: absolute;
  right: -1px;
  top: -1px;
  width: 1px;
}

.c-price thead th.c-price__blank {
  background: none;
}

.c-price thead th:not(.c-price__discount) + .c-price__discount {
  position: relative;
}

.c-price thead th:not(.c-price__discount) + .c-price__discount::before {
  border-left: 1px solid #fff;
  content: '';
  height: calc(100% + 2px);
  left: -1px;
  position: absolute;
  top: -1px;
}

.c-price thead th.c-price__discount {
  background-color:#ef8b83;
  border-top: 1px solid #ef8b83;
  color: #ffffff;
}

.c-price__room {
  background: #f7f7f7;
  border: 1px solid #CCC;
  font-weight: bold;
  text-align: left;
  vertical-align: middle;
  white-space: nowrap;
}

.c-price__course,
.c-price__course--dark {
  background-color:#573F2E;
  border-bottom: 1px solid #fff;
  color: #ffffff;
  font-weight: bold;
  line-height: 1.2;
  padding: 0 0.5em;
  width: 2em;
}

.c-price__course--dark {
  background-color:#573F2E;
  border-bottom: none;
  border-bottom: 1px solid #573F2E;
}

.c-price tbody td {
  border: 1px solid #CCC;
}

.c-price tbody td:last-child {
  border-right: 0;
}

.c-price tbody td.c-price__discount {
  border: 1px solid #CCC;
}

.c-price tbody td:not(.c-price__discount) + .c-price__discount {
  position: relative;
}

.c-price tbody td:not(.c-price__discount) + .c-price__discount::before {
  border-left: 1px solid #CCC;
  content: '';
  height: calc(100% + 2px);
  left: -1px;
  position: absolute;
  top: -1px;
}

.u-mt--md {
  width: 80%;
  margin: auto;
  margin-bottom: 0;
  text-align: left;
  min-width: 600px;
}

/* table */

.footer {
  margin-top: 80px;
  background-color: #000;
  color: #fff;
  font-size: 18px;
  padding: 40px 120px;
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  align-items: center;
}

.footer li {
  color: #fff;
  list-style-type: none;
}

.icon {
  color: #fff;
  padding-right: 10px;
  width: 30px;
  text-align: center;
  vertical-align: middle;
}

.footer a {
  text-decoration: none;
  color: #CCC;
}

.footer-left {
  display: flex;
  flex-direction: row;
  justify-content:left;
  align-items: center;
}

.footer-left li {
  margin-right: 30px;
}

.footer-right {
  display: flex;
  flex-direction: row;
  justify-content:right;
  align-items: center;
}

@media screen and (max-width:780px) {
  .footer {
    flex-direction: column;
    align-items: flex-start;
    padding: 40px;
  }

  .footer li {
    line-height: 2em;
    font-size: 16px;
  }

  .footer-left{
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 40px;
  }
}